
:root, :root[data-theme='dark'] {
    --primary-color: #F0F0F0;  /* cor de texto */
    --primary-bg-color: #1133e2;  /* cor de fundo */
    
}

:root [data-theme='light'] {
    --primary-color: #0B0B0F;
    --primary-bg-color: #E9E9E9;
}

html [data-theme='light'] .brand-logo{
    filter: invert(1);
}

html [data-theme='light'] .tecnologias-logo{
    filter: invert(80%);
}

/*
Reset do CSS: Para padronizar a visualização em todos os navegadores
*/

*{
    margin: 0;                  /*   Margem: Distância do elemento até a borda   */
    padding: 0;                 /*   Espaçamento: Distância do margem até o elemento   */
    box-sizing: border-box;     
    vertical-align: baseline;
    list-style: none;           /*   Estilo da lista: Modifica o marcador da lista   */
}
