@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

:root, :root[data-theme='dark'] {
    --primary-color: #F0F0F0;           /*   Cor Primária   */
    --primary-bg-color: #111217;        /*   Cor de Fundo   */
    --seconday-bg-color: #28292E;
    --primary-border-color: #28292E;
    --secondary-border-color: #56575A;

    --title-color: #F0f0f0;
    --text-color: #9a9a9c;
    --link-color: #9a9a9c;
    --icon-color: #c7c8c9;
}

:root [data-theme='light'] {
    --primary-color: #0B0B0F;
    --primary-bg-color: #E9E9E9;
    --secondary-bg-color: #c7c8c9;
    --primary-border-color: #c7c8c9;
    --secondary-border-color: #9a9a9c;

    --title-color: #0b0b0f;
    --text-color: #28292e;
    --link-color: #28292e;
    --icon-color: #26575a;
}

html [data-theme='light'] .brand-logo{
    filter: invert(1);
}

html [data-theme='light'] .tecnologias-logo{
    filter: invert(80%);
}

/*   Reset do CSS: Para padronizar a visualização em todos os navegadores   */

*{
    margin: 0;                  /*   Margem: Distância do elemento até a borda   */
    padding: 0;                 /*   Espaçamento: Distância do margem até o elemento   */
    box-sizing: border-box;     
    vertical-align: baseline;   
    list-style: none;           /*   Estilo da lista: Modifica o marcador da lista   */
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

body{
    background: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

#header{
display: flex;
flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 1rem;
    z-index: 2;
}

.header-toggle{
    display: flex;
    justify-content: flex-end;
}

.header-logo .logo{
    width: 3.25rem;
    height: 3.25rem;
}

#toggleTheme{
    font-size: 1.5rem;
    color: var(--icon-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

.menu{
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu-item{
    width: 100%;
}

.menu-link{
    display: flex;
    align-items: center;
    gap: .5rem;             /*   Espaçamento entre os itens   */
}

.menu-mobile{
    width: 100vw;           /*   VW: ViewPort Width   */
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid;
}

.menu-mobile .menu-link{
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu.icon,
.menu-link:hover .menu-text{
    color: var(--primary-color);
}

.menu-icon, .menu-text{
    color: var(--text-color);
}

.menu.icon{
    font-size: 1.5rem;
}